* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-container {
    padding-left: var(--container-padding-left);
    padding-right: var(--container-padding-right);
    padding-top: var(--container-padding-top);
    padding-bottom: var(--container-padding-bottom);
    display: var(--container-display);
    gap: var(--container-gap);
    background-color: #000;
    align-items: center;
    justify-content: space-between;
}

.hero-section-left,
.hero-section-right {
    color: white;
}

.hero-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
    gap: 1rem;
}

.hero-section-left h1 {
    width: 100%;
    font-family: var(--button-font-family);
    text-align: left;
    font-weight: lighter;
    font-size: var(--font-size-xxxlarge);
    line-height: 0.9em;
}

.hero-section-left h2 {
    width: 100%;
    font-family: var(--font-family-primary);
    text-align: left;
    font-weight: 500;
    font-size: var(--font-size-xlarge);
}

.hero-section-left h3 {
    width: 100%;
    font-family: var(--font-family-secondary);
    text-align: left;
    font-weight: 100;
    font-size: var(--font-size-medium);
}

.hero-section-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 66%;
}


.hero-section-right .figure {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.hero-section-right .figure img {
    max-width: 33%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 1100px) {
    .hero-container {
        display: var(--mobile-container-display);
        flex-basis: var(--mobile-container-flex-basis);
        flex-direction: var(--mobile-container-flex-direction);
        position: relative;
        flex-direction: column;
        padding: 0;
    }

    .hero-section-left {
        gap: var(--mobile-spacing-small);
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
}